@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

main{
    display: flex;
    gap: 50px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}



.tabuada-box {
  background-color: rgb(14, 146, 146);
 min-height: 400px;
  width: 40vw;
  max-width: 900px; 
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;   
  box-sizing: border-box;
}

.title {
  color: white;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 20px;
}

#formTabuada {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#formTabuada label {
  font-weight: 600;
  margin-bottom: 8px;
  align-self: flex-start;
}

#formTabuada input[type="number"] {
  width: 100%;
  font-size: 16px;
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  
}

input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.input-box {
  width: 90%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto 15px;
}

input[type="submit"] {
  background-color: rgb(14, 146, 146);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  align-self: center;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: rgb(36, 194, 194);
}

#mensagemErro {
  color: red;
  width: 100%;
  text-align: center;
  font-weight: 700;
  margin-top: 10px;
  min-height: 1.2em;
}

.resultados {
  width: 90%;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  max-height: 400px;
  overflow-y: auto;
  margin: 0 auto;
}


.resultados table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.resultados th,
.resultados td {
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 16px;
}

.resultados th {
  background-color: rgb(0, 36, 112);
  color: white;
  font-weight: 600;
}


@media (max-width: 480px) {
  .tabuada-box {
    width: 90vw; 
    padding: 15px;
    min-height: 350px;
  }

  .resultados{
    max-height: 200px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .tabuada-box {
    width: 90vw;
    max-width: 700px;
    min-height: 380px;
  }
}